body
	background-color $colors[4]
	color $colors[0]
	font-family $bodyFontFamily

header
	padding 1rem 3rem
	h1
		font-size 2rem
		font-family $headlineFontFamily

#main-container
	padding 1rem 3rem
	h2
		font-size 1.8rem
		color $colors[1]
		margin-bottom 1rem

footer
	padding 1rem 3rem
	text-align center

a
	color $colors[1]
	text-decoration none
	cursor pointer